.section-card{
    width: 280px;
    margin-top: 100px;
}

.review-card{
    width: 280px;
    margin-top: 100px;
}

.upcoming-card{
    width: 280px;
    margin-top: 100px;
}


@media screen and (max-width:992px) and (min-width:584px) {
    .section-card{
        margin-top: 20px;
    }
    .review-card, .upcoming-card{
        margin-top: 110px;
    }
}

@media screen and (max-width:584px) {
    .section-card{
        margin-top: 20px;
    }
    .review-card{
        margin-top: 120px;
    }
    .upcoming-card{
        margin-top: 20px;
    }
}